{% extends 'base.html' %}

{% block content %}
    <h1>Cart</h1>
    <table>
        <thead>
            <tr>
                <th>Pizza</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for cart_item in cart_items %}
                <tr>
                    <td>{{ cart_item.pizza.name }}</td>
                    <td>{{ cart_item.quantity }}</td>
                    <td>${{ cart_item.pizza.price|floatformat:2 }}</td>
                    <td>${{ cart_item.pizza.price|floatformat:2|float * cart_item.quantity|floatformat:2 }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2">Total:</td>
                <td>${{ total_price }}</td>
            </tr>
        </tfoot>
    </table>
{% endblock %}
