{% extends 'base.html' %}
{% block content %}
    <div class="ghost">
        <h2>Welcome to the Menu part of the site!!</h2>
    </div>
    {% for ghost in pizzas %}
        {% if ghost.price < 2600 %}
            <p>Popular!!!</p>
        {% else %}
            <p>Not so popular!</p>
        {% endif %}
        <h4>{{ ghost.name }}</h4>
        <p>{{ ghost.price }}kr</p>
    {% endfor %}
    <img class="homepage-image" id="ghost-order-img" src="../../static/images/ghost_pepper.jpg" alt="order image "/>
    <img class="homepage-image" id="ghost-order-img" src="../../static/images/meat_and_cheese.jpg" alt="order image "/>
    <img class="homepage-image" id="ghost-order-img" src="../../static/images/gostbuster.png" alt="order image "/>
    <img class="homepage-image" id="ghost-order-img" src="../../static/images/HAMANDTWOCHEESE_1024x1024.webp" alt="order image "/>
    <img class="homepage-image" id="ghost-order-img" src="../../static/images/Calzone.jpg" alt="order image "/>
    <img class="homepage-image" id="ghost-order-img" src="../../static/images/pepperoni.jpg" alt="order image "/>
    <img class="homepage-image" id="ghost-order-img" src="../../static/images/Margarita.webp" alt="order image "/>


{% endblock %}