body {
    background-color: white;
    border: 20px;
    text-align: -moz-center;
}

.ghost{
    border-bottom: solid 2px rgba(155, 155, 155, .5);
    background-color: blueviolet;
    text-align: left;
}

.manufacturer {
    border-bottom: solid 2px rgba(155, 155, 155, .5);
    background-color: blueviolet;
    text-align: left;
}

.homepage {
    border-bottom: solid 2px rgba(155, 155, 155, .5);
}

.homepage-image {
    width: 500px;
    height: 500px;
    text-align: left;
}
