.ghost{
    border-bottom: solid 2px rgba(155, 155, 155, .5);
    background-color: blueviolet;
}
.manufacturer{
    border-bottom: solid 2px rgba(155, 155, 155, .5);
    background-color: green;
}

body{
    background-color: grey;
    border: 20px;
    text-align: center;
}
