@import "sign_in.css";
@import "offers.css";
@import "pizzas.css";
@import "cart.css";
body {
    background-color: dimgrey;
    border: 20px;
    text-align: -moz-center;
}


.homepage {
    border-bottom: solid 2px rgba(155, 155, 155, .5);
}

.homepage-image {
    width: 70rem;

    text-align: center;
}

