.ghost {
    border-bottom: solid 2px rgba(155, 155, 155, .5);
    text-align: left;
    background-color: red;
}
.ghost-img {
    width: 100%;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #F5F5F5;
    border: 1px solid #CCCCCC;
    padding: 5px;
}


.well-ghost {
    width: calc(50% - 10px);
    height: 480px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    border: 3px solid #CCCCCC;
    padding: 20px;

}

h4 {
    position: relative;
}

p {
    bottom: 30px;
}